.table-bordered th {
    font-weight: bold;
    text-align: center;
}

.table-bordered td {
    text-align: center;
}

/* Custom style for the table header */
.table-primary th {
    background-color: #007bff; /* Change the color to your preferred header color */
    color: #fff; /* Change the text color for the header */
}
.view-timeline-link {
    display: none;
    cursor: pointer;
    color: #007bff;
    text-decoration: underline;
}

.view-timeline-link:hover {
    color: #0056b3;
}

/* Style to display link on row hover */
tr:hover .view-timeline-link {
    display: inline-block;
}


